.footer-font-style {
    font-family: brandon-grot-w05-light, sans-serif;
}


.link-on-hover:hover {
  color: #188aa8;
  cursor: pointer;
}

.link {
  color: #188aa8;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #188aa8;
}

.anchor-text{
  color: #188aa8;
  cursor: pointer;
  text-decoration: none;
}


.anchor-text:hover{
  color:  #188aa8;
  cursor: pointer;
  text-decoration: none;
}


.bg-orange {
  background-color: #FFA809;;
}

.text-12 {
  font-size: 12px;
}
.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-18 {
  font-size: 18px;
}
.text-20 {
  font-size: 20px;
}

.text {
  font-size: 50px;
  font-family: "";
}

.text-color {
  color: #FFA800;
}